body {
  background: #231b33;
  color: #89819b;
}

h3 {
  color: #5dc6ae;
  padding-top: 10px;
}

.navbar {
  background: #1e113d;
  text-align: center;
}

.text-block {
  color: #513a7c;
}

.text-paper {
  color: #e595b9;
}

.text-scissors-1 {
  color: #38d1ad;
}

.text-scissors-2 {
  color: #2b99c6;
}

img.logo {
  width: 100px;
}

.web3-status {
  margin-top: 50px;
  color: #4c4756;
}

/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
